**DATASET:1 (california housing price)**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("housing.csv")

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
df.shape

(20640, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

**DATASET:2 (World Real Estate Data)**

In [ ]:
df2 = pd.read_csv("world_real_estate_data(147k).csv")

In [ ]:
df2.head()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120 m²,110 m²,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500 m²,480 m²,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65 m²,60 m²,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40 m²,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36 m²,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [ ]:
df2.shape

(55203, 14)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55203 entries, 0 to 55202
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   title                       55203 non-null  object
 1   country                     55141 non-null  object
 2   location                    55141 non-null  object
 3   building_construction_year  20861 non-null  float64
 4   building_total_floors       21626 non-null  float64
 5   apartment_floor             17806 non-null  float64
 6   apartment_rooms             30367 non-null  float64
 7   apartment_bedrooms          17195 non-null  float64
 8   apartment_bathrooms         25731 non-null  float64
 9   apartment_total_area        53461 non-null  object
 10  apartment_living_area       4591 non-null   object
 11  price_in_USD                54723 non-null  float64
 12  image                       55202 non-null  object
 13  url                         55202 non-null  object
dtypes: float64(7), object(7)
memory usage: 5.9+ MB

In [ ]:
df2.isnull().sum()

title                             0
country                          62
location                         62
building_construction_year    34342
building_total_floors         33577
apartment_floor               37397
apartment_rooms               24836
apartment_bedrooms            38008
apartment_bathrooms           29472
apartment_total_area           1742
apartment_living_area         50612
price_in_USD                    480
image                             1
url                               1
dtype: int64

In [ ]:
df2.describe()

,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,price_in_USD
count,20861.000000,21626.000000,17806.000000,30367.000000,17195.000000,25731.000000,5.472300e+04
mean,2006.348833,5.895959,4.134786,2.773570,2.377145,1.345575,2.702021e+05
std,58.969020,5.662826,3.554198,1.122085,21.986396,0.760703,3.939438e+05
min,1.000000,1.000000,-1.000000,1.000000,1.000000,1.000000,4.848000e+03
25%,2006.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.081490e+05
50%,2021.000000,4.000000,3.000000,3.000000,2.000000,1.000000,1.698220e+05
75%,2023.000000,9.000000,5.000000,3.000000,3.000000,2.000000,2.869490e+05
max,2316.000000,78.000000,105.000000,30.000000,2009.000000,30.000000,1.108546e+07

In [ ]:
df2['country'].value_counts()

country
Hungary            22209
Turkey             21125
Montenegro          5857
Greece              3491
Uzbekistan          1844
Lithuania            473
Finland               70
Serbia                48
Thailand              15
Belarus                3
Georgia                1
Northern Cyprus        1
UAE                    1
Czech Republic         1
Italy                  1
Russia                 1
Name: count, dtype: int64

**DATASET:3 (House Real estate data from Indian cities)**

In [ ]:
df3 = pd.read_csv("Real Estate Data V21.csv")

In [ ]:
df3.head()

,Name,Property Title,Price,Location,Total_Area,Price_per_SQFT,Description,Baths,Balcony
0,Casagrand ECR 14,"4 BHK Flat for sale in Kanathur Reddikuppam, C...",₹1.99 Cr,"Kanathur Reddikuppam, Chennai",2583,7700.0,Best 4 BHK Apartment for modern-day lifestyle ...,4,Yes
1,"Ramanathan Nagar, Pozhichalur,Chennai",10 BHK Independent House for sale in Pozhichal...,₹2.25 Cr,"Ramanathan Nagar, Pozhichalur,Chennai",7000,3210.0,Looking for a 10 BHK Independent House for sal...,6,Yes
2,DAC Prapthi,"3 BHK Flat for sale in West Tambaram, Chennai",₹1.0 Cr,"Kasthuribai Nagar, West Tambaram,Chennai",1320,7580.0,"Property for sale in Tambaram, Chennai. This 3...",3,No
3,"Naveenilaya,Chepauk, Triplicane,Chennai",7 BHK Independent House for sale in Triplicane...,₹3.33 Cr,"Naveenilaya,Chepauk, Triplicane,Chennai",4250,7840.0,Entire Building for sale with 7 units of singl...,5,Yes
4,VGN Spring Field Phase 1,"2 BHK Flat for sale in Avadi, Chennai",₹48.0 L,"Avadi, Chennai",960,5000.0,"Property for sale in Avadi, Chennai. This 2 BH...",3,Yes

In [ ]:
df3.shape

(14528, 9)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14528 entries, 0 to 14527
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            14528 non-null  object
 1   Property Title  14528 non-null  object
 2   Price           14528 non-null  object
 3   Location        14528 non-null  object
 4   Total_Area      14528 non-null  int64
 5   Price_per_SQFT  14528 non-null  float64
 6   Description     14528 non-null  object
 7   Baths           14528 non-null  int64
 8   Balcony         14528 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 1021.6+ KB

In [ ]:
df3.isnull().sum()

Name              0
Property Title    0
Price             0
Location          0
Total_Area        0
Price_per_SQFT    0
Description       0
Baths             0
Balcony           0
dtype: int64

In [ ]:
df3.describe()

         Total_Area  Price_per_SQFT         Baths
count  14528.000000    14528.000000  14528.000000
mean    1297.916988    11719.456222      2.751239
std     1245.694305    49036.068632      0.898243
min       70.000000        0.000000      1.000000
25%      650.000000     4480.000000      2.000000
50%     1000.000000     6050.000000      3.000000
75%     1439.000000     9312.500000      3.000000
max    35000.000000   999000.000000      6.000000

In [ ]:
df3['Location'].value_counts()

Location
Sector 12 Dwarka, New Delhi               44
Wagholi, Pune                             39
Bannerughatta, Bangalore                  35
Horamavu Agara, Horamavu,Bangalore        32
Chakan, Pune                              32
                                          ..
ghanta ghar,Malka Ganj, New Delhi          1
Kapashera, New Delhi                       1
Block F, Mansarover Garden,New Delhi       1
Kolapakkam - Vandalur, Chennai             1
Tirumurthy Nagar, Nungambakkam,Chennai     1
Name: count, Length: 7050, dtype: int64

**DATASET 4: (indian house price prediction)**

In [ ]:
df4 = pd.read_csv("real_estate_dataset.csv")

In [ ]:
df4.head()

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere

In [ ]:
df4.shape

(287, 9)

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           287 non-null    object
 1   beds          287 non-null    int64
 2   city          287 non-null    object
 3   date          287 non-null    object
 4   size          287 non-null    object
 5   type          287 non-null    object
 6   baths         287 non-null    int64
 7   price         287 non-null    float64
 8   neighborhood  287 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 20.3+ KB

In [ ]:
df4.isnull().sum()

url             0
beds            0
city            0
date            0
size            0
type            0
baths           0
price           0
neighborhood    0
dtype: int64

In [ ]:
df4.describe()

             beds       baths         price
count  287.000000  287.000000  2.870000e+02
mean     2.156794    1.526132  1.956434e+07
std      1.767959    1.771525  4.461799e+07
min      0.000000    0.000000  0.000000e+00
25%      0.000000    0.000000  4.738000e+06
50%      2.000000    1.000000  1.000000e+07
75%      3.000000    2.000000  2.085000e+07
max     12.000000   12.000000  6.000000e+08

In [ ]:
df4['city'].value_counts()

city
Kakinada         37
Visakhapatnam    25
Noida            22
Hyderabad        20
Chennai          20
Mumbai           17
Bhubaneswar      10
Bangalore        10
Gurgaon          10
Kochi            10
Coimbatore       10
Kanyakumari      10
Gandhinagar      10
Jalpaiguri       10
Delhi            10
Lucknow          10
Agra             10
Jaipur           10
Pune              9
Vijayawada        9
Navi Mumbai       2
Patna             2
Thane             1
Guntur            1
Vikarabad         1
Vizianagaram      1
Name: count, dtype: int64